.color-card {
    width: 100%;
    height: 15.625rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
   overflow: hidden;
}

.color-card-title {
    font-size: 2rem;
    text-shadow: 0 0 1.5px var(--very-dark-blue);
}

.color-card-img {
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    transform: rotate(16deg);
    bottom: -4px;
    right: -20px;
    box-shadow: 0 0 15px var(--very-dark-blue);;
}
.color-card-img >img{
    width:100%;
    height: 100%;
}

@media (max-width:900px) {
    .color-card {
        padding: 0.5rem;
        height: 8.5rem;
    }

    .color-card-img {
        width: 4.5rem;
        height: 4.5rem;
        right: -11px;
    }
    .color-card-title {
        font-size: 1rem;
    }
}