.home-container{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
gap:2.5rem;
height: 100vh;
padding: 20px 0;

}

@media (max-width:900px){
  .home-container{
       gap:1.25rem;
    }
    
   
}