.row-list{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    z-index: 300;
}
.row-list.row-list-artistView{
    background-color: var(--deep-blue);
    padding: 2rem 1.5625rem 0 1.5625rem;
}
.row-list-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:var(--white);
}
.row-list-title > h2{
    font-size: 1.875rem;
}
.row-list-title > h6{
    font-size: 1rem;
    text-transform: uppercase;
}
.row-list-scroll-btn{
    color:var(--white);
    font-size: 1.25rem;

}

.row-list-items{
    display: flex;
    gap:2rem;
    justify-content: flex-start;
    overflow-x:scroll;
    scroll-behavior: smooth;
    padding-bottom: 1.5625rem;
}
.row-list-items::-webkit-scrollbar{
    /* height: 10px; */
    display: none;;
    
}
/* .row-list-items::-webkit-scrollbar-thumb{
    background-color: rgba(225,225,225,0.05);
    border-radius: 10px;
} */

@media (max-width:900px){
    .row-list-title > h2{
        font-size: 1.25rem;
    }
    .row-list-items{
        gap:1rem;
    }
}