.row-list{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
    width: 100%;
}
.row-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--white);
}
.row-list-title > h2{
    font-size: 2.25rem;
}
.row-list-title > h6{
    font-size: 1rem;
    text-transform: uppercase;
}

.row-list-items{
    display: flex;
    /* gap:1.25rem; */
    justify-content: space-between;
}