.card{
    width:auto;
    max-width: 13rem;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--mid-deep-blue);
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
   
}
.play-btn-card{
    display: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}
.card:hover{
    background-color: var(--mid-deep-blue-active);
    cursor: pointer;
}
.card:hover .play-btn-card{
    display: flex;
}
.card-img{
    width:11rem;
    height:11rem;
    background-color: transparent;
    border-radius: 5px; 
    position: relative;
}

.card-img > img{
    width:11rem;
    height:11rem;
    object-fit: cover;
    border-radius: 5px;
    
}

.card-img.artist >img{
    border-radius: 50%;
}

.card:hover .card-img > img{
    box-shadow: 0 0 15px  var(--deep-blue); 
}

.card-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.8rem;
}
    

.card-info-title{
    color:var(--white);
    font-size: 0.875rem;
}

.card-info-description{
    color:var( --light-grey);
    font-size: 0.75rem;
}

@media (max-width:900px){
    .card{
        padding: 0.5rem;
        gap:0.5rem;
        max-width: 8.6875rem;
    }
    .card-img{
        width:7.6875rem;
        height:7.6875rem;        
    }
    
    .card-img > img{
        width:7.6875rem; 
        height:7.6875rem;       
    }
    .card-info-title{
        font-size: 0.75rem;
    }
    
    .card-info-description{
        font-size: 0.625rem;
    }

    .play-btn-card{
        right: 0.3125rem;
        bottom: 0.3125rem;
    }
    
}
