.App-container{
width: 100%;
height: 100%;

display: flex;
flex-direction: column;

}
.main-container{
    display: flex;
    /* width: calc(100vw - 250px); */
    height: calc(100vh - 100px);
    width:100vw;
}
.display-header-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.display-section{
    background: linear-gradient(var(--navy-blue-2), var(--deep-blue) 20%);
    height: calc(100vh - 180px);
    /* overflow-y:scroll; */
    padding: 1.5625rem;
    width: 100%;
    display: flex;
    
}

/* .display-section::-webkit-scrollbar {
    display: none;
  } */