.play-bar{
    width: 100%;
    /* height: 6.875rem; */
    height: 105px;
    background-color: var(--dark-blue);
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid hsl(225, 26%, 15%);
    position: absolute;
    bottom: 0;
    z-index: 400;
    /* overflow: hidden; */
        
}
/* ._ContentRSWP{
    flex-direction: row !important;
    justify-content: space-between !important;
    padding-left:4px !important;
}
._ContentRSWP > *{
    width: min-content;
}
.__192z72t{
    width: 110px !important;
}
._InfoRSWP{
    padding-top: 6px !important;
}
.__1agbcgi{
    width: 100% !important;
}

@media (max-width:1023px){
    ._InfoRSWP{
        border-bottom: none !important;
    }
} */
/* @media (max-width:900px){
    .play-bar{
         height: 3.75rem;
    }
   
} */
.PlayerRSWP{
    overflow: visible;
}
/* ._ControlsRSWP .__1agbcgi{
    overflow: hidden;
} */
/* ._ContentRSWP > *,
._SliderRSWP .__181lube{
    overflow: hidden;
} */