.side-bar{
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.56rem;
    gap:2rem;
    height: 100vh;
    width: 20%;
    position: absolute;
    top:0;
    left: 0;
    z-index:200;
    
}
.logo{
    max-width: 230px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
}
    
.logo > img{
    width:100%;
    object-fit: contain;
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.25rem;
}
.nav-bar-item{
    display: flex;
    flex-shrink: 1;
    align-items: center;
    gap: 1.125rem;
    font-size: 1.125rem;
   
    color:var(--white)
}

.nav-bar-item >span{
    font-size: 1.5rem;
}