.track-card{
    display: flex;
    width: 100%;
    padding: 0.625rem 1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color:hsla(0, 0%, 100%,0);
    gap:1rem;
    overflow-y: hidden;
    height: 65px;
}
.track-card-header{
    border-radius: 0;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 1.5rem;
}
.track-save .save-btn{
    width: 1.5rem;
    height: 1.5rem ;
}
.track-card:hover{
    background-color:hsla(0, 0%, 100%,0.1);
    cursor: pointer;
}
.track-card.play-icon-active{
    background-color:hsla(0, 0%, 100%,0.1);
}
.track-card.track-card-header:hover{
    background-color:hsla(0, 0%, 100%,0);
    cursor:auto;
}
.track-number{
    width: 3rem;
    display: flex;
    justify-content: center;
}

.track-card.track-card-deleted{
    display: none;
}
.play-icon{
    display: none;
    
}
.play-icon >svg{
    width: 1.875rem;
    height: 1.875rem;
}

.play-icon-active .play-icon{
    display: block;
}
.play-icon-active .play-icon >svg{
    fill:var(--light-green);
}
.play-icon-active .number-of-track{
    display: none;
}

.play-icon-mobile{
position: absolute;
top:4.335px;
left:6px;

}
.play-icon-mobile > svg {
    stroke: var(--very-dark-blue);
    stroke-width: .2px;
}
.track-name{
    width:46%;
    display: flex;
    gap:1rem;
}
.track-card-album .track-name{
    width:80%;
}
.track-img{
    width: 2.625rem;
    height: 2.625rem;
    background-color: grey;
}
.track-img-container{
    width: 2.625rem;
    height: 2.625rem;
    position: relative;
}
.track-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    max-height: 45px;
}
.tracks-list-artistView .track-info{
    justify-content: center;
}
.track-info-author{
    color: var(--light-grey);
    font-size: 0.875rem;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    
}
.track-info-name{
    font-weight: 700;
    text-transform: capitalize;
}
.track-album{
    width:34%;
    text-transform: capitalize;
}
.track-album >a:hover,
.track-info-author > a:hover{
    text-decoration: underline;
}
.track-save{
   opacity: 0;
    width:7%;
}
.track-save.show{
    opacity: 1;
}
.track-card:hover .track-save{
    opacity: 1;
}
.track-card:hover .play-icon-desktop{
    display: block;
}
.track-card:hover .number-of-track{
    display: none;
}
.track-card.track-card-header:hover .number-of-track{
    display: block;
}
.track-time{
    width:7%;
    text-align: end ;
}
.hidden{
    display: none;
    
}
.play-icon-active .play-icon-mobile,
.track-card:hover .play-icon-mobile{
    display: none;
}

.track-options{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.track-card-add-songs .track-options{
    opacity: 1;
}
.track-card:hover .track-options{
    opacity: 1;
}

.track-options:active{
    transform: scale(1.4);
}
.track-options >svg{
    width: 1.5rem;
    height: 1.5rem;
}

.track-card-add-songs .track-number{
    display: none
}
.track-card-add-songs:hover .play-icon-mobile{
    display: block;
}

.add-songs-btn:active{
    transform: scale(1.1);
}
.track-card-add-songs .add-songs-btn:active{
    transform: scale(1);
}
.track-card-add-songs .track-options{
    width: auto;
    max-width: 20%;
}
@media (max-width:900px){
    .track-card-header{
        display: none;
    }
    .track-card{
        padding: 0.625rem;
    }
    .track-number,
    .track-album,
    .track-time{
        display: none;
    }
    .track-save{
        opacity: 1;
        text-align: end;
    }
    .track-name{
        width: 80%;
    }
    .track-save .save-btn{
        width: 1rem;
        height: 1rem ;
    }
    .track-info-name{
        font-size:0.875rem;
    }
    .track-info-author{
        font-size: 0.75rem;
    }
    .track-card:hover .play-icon-desktop{
        display: none;
    }
    .play-icon-active .play-icon-mobile,
    .track-card:hover .play-icon-mobile{
        display: block;
    }
    .track-options >svg{
        width: 1rem;
        height: 1rem;
    }
    .track-options{
        opacity: 1;
    }
    /* .track-card:hover .play-icon-mobile,
    .track-card:hover .play-icon{
        display: none;
    } */
    /* .tracks-list-artistView .track-number{
        display: block;
        width: 0.9rem;
    } */
}
