:root {
   --deep-blue: hsl(222, 22%, 9%);/*grid */
  --mid-deep-blue-active: hsl(224, 21%, 18%);/*card active*/
  --mid-deep-blue: hsl(222, 21%, 12%);/*card*/
  --light-green: hsl(143, 93%, 59%);
  --navy-blue: hsl(241, 52%, 19%);/*grid gradient*/
  --navy-blue-2: hsl(241, 51%, 25%);/*grid gradient*/
  --dark-blue: hsl(225, 25%, 9%);/*player*/
  /* --very-dark-blue: hsl(216, 16%, 6%); sidebar */
  --very-dark-blue: hsl(210, 22%, 7%); /*sidebar*/
  --white: hsl(0,0%,100%);
  --light-grey: hsl(226, 16%, 69%);
  --very-light-grey: hsl(228, 38%, 90%);
  --mid-grey: hsl(226, 9%, 49%);
  --mid-dark-grey: hsl(227, 11%, 34%);
  --dark-grey: hsl(227, 11%, 25%);
  --sky-blue: hsl(202, 93%, 55%);
  --purple-blue:hsl(252, 67%, 48%);
  --very-light-green: hsl(167, 74%, 72%);
  --muted-red: hsl(0, 94%, 61%);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Public Sans', sans-serif;
  font-size: 100%;
  color:white
  /* border:1px solid white; */
 
}
button{
  border:none;
  background: none;
  outline:none;
}
button:hover{
  cursor: pointer;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* overflow-y: scroll; */
}


#root{
  width: 100vw;
  height: 100vh;
 
}



