.detail-header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap:2rem;
    background-color: var(--navy-blue);
    padding: 1.25rem 1.5625rem;
    z-index: 300;
}
.detail-header.detail-header-artistView{
    background-color: transparent;
    min-height: 16.25rem;
}
.detail-header-img{
    width: 13.75rem;
    height: 13.75rem;
}
.hero-img{
    object-fit: cover;
    width: 13.75rem;
    height: 13.75rem;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--very-dark-blue);
    /* background-color: grey; */
}
.detail-header-info{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}
.detail-header-info-type{
    display: flex;
    align-items: center;
    gap:6px;
    text-transform: uppercase;
    color: var(--white);
}
.detail-header-info-type > svg{
stroke:var(--sky-blue);
fill:var(--sky-blue);
width: 1.5em;
height: 1.5em;
}

.detail-header.detail-header-artistView .detail-header-info-type{
    text-transform: capitalize;
}
.detail-header-info-name{
    text-transform: capitalize;
    color: var(--white);
    font-size: 3rem;
}
.detail-header.detail-header-artistView .detail-header-info{
    text-shadow: 0 0 2px var(--very-dark-blue);
}
.detail-header-info-description{
    text-transform: capitalize;
    font-weight: 400;
    color: var(--light-grey);
}
.detail-header-info-tracks{
    color: var(--white);
}
.artist-img{
    width: 1.25rem;
    height: 1.25rem;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width:900px){
    .detail-header{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* flex-direction: column; */
        padding: 1.25rem 0.875rem;
        gap:1rem;
    }
    
    .detail-header.detail-header-artistView{
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .detail-header-info{
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        gap:0.5rem;
    }
    .detail-header-info-type,
    .detail-header-info-name,
    .detail-header-info-description,
    .detail-header-info-tracks{
        text-align: center;
        font-size:0.875rem ;
    }
    .detail-header-info-type{
        font-size:0.625rem ;
    }
    
    .detail-header-info-name{
        font-size: 1rem;
    }
    .detail-header-img,.hero-img{
        width: 11rem;
        height: 11rem;
    }
    .detail-header.detail-header-artistView .detail-header-info-name{
        font-size: 2rem;
        text-align: start;
    }
}

@media (max-width:722px){
    .detail-header-info{
        flex-direction: row;
    }
    .detail-header.detail-header-artistView .detail-header-info{
        flex-direction: column;
    }
}
